@model Application.DTO.BookCategoryDTO

<h4>Book Edit</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Book.Id" class="control-label"></label>
                <input asp-for="Book.Id" class="form-control" disabled/>
                <span asp-validation-for="Book.Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Book.Title" class="control-label"></label>
                <input asp-for="Book.Title" class="form-control" />
                <span asp-validation-for="Book.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Book.Description" class="control-label"></label>
                <textarea asp-for="Book.Description" class="form-control"></textarea>
                <span asp-validation-for="Book.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Book.Pages" class="control-label"></label>
                <input asp-for="Book.Pages" class="form-control" />
                <span asp-validation-for="Book.Pages" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Book.Price" class="control-label"></label>
                <input asp-for="Book.Price" class="form-control" />
                <span asp-validation-for="Book.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Book.ImageUrl" class="control-label"></label>
                <img src="~/@Model.Book.ImageUrl" asp-append-version="true" width="100px" height="100px"/>
                <input type="file" name="file" id="file" class="form-control" />
                <span asp-validation-for="Book.ImageUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Book.CategoryId" class="control-label"></label>
                <select asp-for="Book.CategoryId" class="form-control">
                    @foreach (var cat in Model.Category)
                    {
                        <option value=@cat.Id>@cat.Name</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Book.AuthorId" class="control-label"></label>
                <select asp-for="Book.AuthorId" class="form-control">
                    @foreach (var a in Model.Author)
                    {
                        <option value=@a.Id>@a.FullName</option>
                    }
                </select>
            </div>
           
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

